@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #083344;
  --secondary: #284E5C;
}

body, html, #__next {
    height: 100%;
}

body {
    font-size: 15px;
    direction: rtl;
    background-color: #083344;
    color: white;
}

input {
  /* background-color: var(--secondary) */
}

@layer components {
    .input {
      @apply bg-gray-100 w-full p-1.5 border border-gray-200 shadow-sm rounded-md mb-0.5;
    }
    .text-light {
      @apply text-gray-500
    }
  }